.about {
    min-height: 100vh;
}

.quote {
    width: 100%;
    padding-left: 80px;
}

.quote__quote {
    border-top: 4px solid black;
    padding: 20px 0 0;
    overflow: hidden;
    
}

.quote__title {
    margin-bottom: 30px;
}

.quote__text {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
}

.quote_avatar {
  width: 80px;
  margin-right: 20px;  
  border-radius: 50%; 
}  


.quote__autor {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 45px;
}
.quote__autor-info {
    line-height: 22px;
}


.quote__autor-name {
    display: block;
    color:#f2b3b3;
    font-size: 18px;
    font-weight: 600;
}

.quote__autor-role {
    display: block;
}


@media (max-width: 980px) {
    .quote {
        padding-left: 0;
    }
}

@media (max-width: 750px) {
    .quote__text {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.55;
    }

    .quote__autor {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .history__video {
        width: 100%;

    }
}

@media (max-width: 550px) {

}


