.contacts_block {
    width: calc(50% - 10px);
    
}



.phone__link__contacts {
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 18px;
    color:black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.phone__link__contacts:hover {
    color: #D1A954;
    transform: scale(1.2);
}


.contacts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.cont {
    font-size: 28px;
    line-height: 1.17;
    font-family: 'Montrell',Arial,sans-serif;
    font-weight: 600;
    margin-bottom: 10px
}

.cont__2 {
    font-size: 20px;
    line-height: 1.55;
    font-family: 'Montrell',Arial,sans-serif;
    font-weight: 300;
}

.head__link__contacts {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}


@media (max-width: 750px) {
    .contacts_block {
        width: 100%;

    }
    .contacts_block:first-child {
        padding-bottom: 50px;


    }
}

