.brend {
    background-color: #111111;
}

.brend__logo {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    box-sizing: content-box;
}

.brend__logo_footer {
   display: flex;
   width: 300px;
   height: 64.25px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   align-items: center;
   justify-content: center;
}

.year {
    color: white;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Montrell',Arial,sans-serif;
    padding-top: 22px;
}

.footer__end {
    background-color: #000;
    height: 50px; 
}