.head {
display: block;
justify-content: center;
padding: 20px 0;
align-items: center;
}

.head__menu {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head__menu-item {
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    color:black;
    font-weight: bold;
    cursor: pointer;

}
.head__menu-item:hover {
    color: #D1A954;
}

.head__menu-item:first-child{
    padding-left: 0;
}
.head__menu-item:last-child {
    padding-right: 0;
}

.head__img {
    display: block;
    margin: 30px auto 45px auto;
    width: 250px;
    text-align: center;
}
