.head {
display: block;
justify-content: center;
padding: 0px 0 20px;
align-items: center;
}

.head__menu__block {
    display: flex;
    justify-content: center;

}

.head__menu {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
}

.burger_line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #333;
    transition: 0.3s;
}

.burger_line.top {
    margin-bottom: auto;
    margin-top: 0;
    bottom: auto;
}

.burger_line.bottom {
    margin-top: auto;
    top: auto;
    margin-bottom: 0;
}

.head__menu-item {
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 25px;
    color:black;
    font-weight: bold;
    cursor: pointer;
    

}
.head__menu-item:hover {
    color: #D1A954;

}

.head__menu-item:first-child{
    padding-left: 0;
}
.head__menu-item:last-child {
    padding-right: 0;
}

.head__link-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;

}

.phone__link {
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 15px;
    color:black;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.2s;
}

.phone__link:hover {
    color: #D1A954;
    transform: scale(1.2);
}

.tele {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;
    
}

.tele:hover {
    transform: scale(1.2);
}

.whats {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.whats:hover {
    transform: scale(1.2);
} 


.head__img {
    display: block;
    margin: 30px auto 45px auto;
    width: 250px;
}

.player {
    width: 100%;
}


@media (max-width: 980px) {

    .head {
        padding: 0;
    }

    .tele:hover {
        transform: scale(1.0);
    }

    .whats:hover {
        transform: scale(1.0);
    }


    .head__menu-item {
        display: block;
    }

    .head__menu-item:first-child{
        padding: 10px 25px;
    }
    .head__menu-item:last-child {
        padding: 10px 25px;
    }

   .head__menu__block {
       display: block;
        position: relative;
        height: 27px;
   }

   .head__menu {
        display: block;
        margin-bottom: 0;
        position: absolute;
        background-color: white;
        z-index: 999;
        overflow: hidden;
        max-height: 27px;
        transition: 0.3s;
    } 

    .head__menu:hover {
        max-height: 100vh;
    }

    .burger {
        display: block;

    }

    .head__menu:hover .burger_line.center {
        transform: translateX(50%);
    }

    .head__menu:hover .burger_line.bottom {
        transform: translateX(100%);
    }
}