.history {
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    justify-content: space-between;
    align-items: center;
}

.history__text {
    width: calc(100% - 560px - 20px);
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
}

.history__video {
    width: 560px;
    background-color: black;
}