* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body {
    color: black;
}

.container {
    display: block;
    max-width: 1110px;
    margin: 0 auto;
}

.wraper {
    width: 100%;
    overflow: hidden;
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
}

.section {
    padding: 50px 0;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}


@media (max-width: 980px) {
    .container {
        max-width: 730px;
    }
}


@media (max-width: 750px) {
    .container {
        max-width: 530px;
    }
}

@media (max-width: 550px) {
    .container {
        max-width: calc(100% - 20px);
    }

    .section {
        padding: 30px 0;
    }
}
/* font-family: 'Nunito', sans-serif; */