.portfolio__title {
    padding: 80px 0 60px;
    font-family: 'Montrell',Arial,sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.23;
    text-align: center;
}

.video {
    padding: 20px  0;
    display: block;
    align-items: center;
    width: calc(50% - 20px);
}

.video__box {
    position: relative;
    padding-top: 56%;
    background-color: black;
}

.video iframe {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio__video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description {
    font-size: 18px;
    line-height: 1.55;
    font-family: 'Montrell',Arial,sans-serif;
    font-weight: 300;
    padding: 5px 0 10px;
}



@media (max-width: 550px) {
    .video {
        width: 100%;
    }

    .portfolio__title {
        padding: 40px 0 30px;
        font-size: 42px;
    }
}