.team__title {
    padding: 70px 0 70px;
    font-family: 'Montrell',Arial,sans-serif;
    text-align: center;
}

.fhoto {
    display: flex;
    width: 260px;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ava1 {
    margin: 8.5px 8.5px;
}

.fhoto__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.position {
    padding: 15px 0 5px;
    font-size: 22px;
    line-height: 1.35;
    font-family: 'Montrell',Arial,sans-serif;
    font-weight: 600;
    text-align: left;
}

.position__2 {
    font-size: 14px;
    line-height: 1.55;
    font-family: 'Montrell',Arial,sans-serif;
    font-weight: 300;
    text-align: left;
    padding-bottom: 20px;
    color: #7a7a7a;
}