.works__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 34px;
    font-weight: 600;
}

.works__list {
    display: flex;
    flex-wrap: wrap;
   
}

.works__item {
    width: 50%;
}

.works__rect {
    padding-top: 66.7%;
    background-size: cover;
    position: relative;
    background-color: rgba(0,0,0,0.0);
    transition: 0.5s;
    
}


.works__item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.0);
    transition: 0.5s;
    
}

.works__item-text:hover {
    background-color: rgba(0,0,0,0.3);

}

.works__item-title {
    font-size: 30px;
    line-height: 1.23;
    font-weight: 600;
    font-family: montrell;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.3s;
}
.works__item-text:hover .works__item-title {
    opacity: 1;
    transform: translateY(0px);

}

.works__item-subtitle {
    font-size: 15px;
    line-height: 1.23;
    font-weight: 600;
    font-family: montrell;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(100px);
    transition: 0.5s;
}

.works__item-text:hover .works__item-subtitle {
    opacity: 1;
    transform: translateY(0px);
}

@media (max-width: 1200px) {
  
}


@media (max-width: 980px) {
    
}


@media (max-width: 750px) {
    
}

@media (max-width: 550px) {
    .works__item {
        width: 100%;
        
    }
}
@media (max-width: 550px) {
    .works__item-title  {
        
        
    }
}

